
:root{
    --nav-height: 7vh;

    @media screen and (max-width: 450px) {

        --nav-height: 10vh;
    }

    --nav-width: 4.5vw;

    // #f0fafad9
    --white: rgb(240, 250, 250);
    --black: rgb(16, 22, 22);
    --grey: rgb(36, 42, 42);
    

    --primary-color: #48beb3;
    --primary-color-light: rgba(83, 201, 190, 1);
    --primary-color-lighter: rgba(94, 212, 201, .95);
    // #69dfd4f2
    --primary-color-lightest: rgba(105, 223, 212, .95);
    
    
    // --secondary-color: #32292f;
    --secondary-color-darker: hsl(204,60%, 25%);
    --secondary-color-dark: hsl(204,60%, 45%);
    //hsl(204,48%,51%2
    --secondary-color: #488fbe;
    --secondary-color-light: hsl(204,48%, 50%);
    --secondary-color-lightest: hsl(204,48%, 70%);
    
    // --tertiary-color: #403453;
    --tertiary-color: #48be77;
    --tertiary-color-light: rgba(64, 52, 83, .90);
    --tertiary-color-lightest:rgba(64, 52, 83, .5);

    box-sizing: border-box;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 95%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;

    overflow-x: hidden;
    font-family: lato-regular, sans-serif


    
}

html{
    height: 100%;
    margin-bottom: 1px;
    overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
    box-sizing: border-box;

    overflow-x: hidden;


}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    scroll-behavior: smooth;
    
}

.nav{

    height: var(--nav-height);

    &-container{

        display: flex;
        align-items: center;
        overflow-y: hidden;


        &-bottom{

            display: flex;

            flex-direction: column;

            width: 100%;

            align-items: center;
            justify-content: center;

            color: white;

            & li{

                margin: .5rem;
                color: white;
            }
        }

        &-horizontal{

            display: flex;
            align-items: center;
            flex-direction: column;
    
            a {
        
                color: var(--white);
                text-decoration: none;
                margin: .5rem;
                font-size: 1rem;

                height: auto;
            }
            
        }
        
    }

    
}


.nav-link{

    margin: 1rem;

    a {
    
        color: var(--white);
        text-decoration: none;
        font-size: 1.25rem;
    }

    &-horizontal{

        text-align: center;
        margin: .25rem;

        height: auto;

        &-icon{

            width: 32px;
            height: 32px;

        }

        @media screen and (max-width: 1000px) {
            &-icon{

                width: 20px;
                height: 20px;
    
            }
        }
        
    }
}


.main-container{

    height: auto;
    background-color: var(--white);


    display: flex;
    flex-direction: column;
}

.top-nav{

    display: flex;
    width: calc(100vw - var(--nav-width));
    margin-left: var(--nav-width);
    padding-right: 1rem;
    box-sizing: border-box;

    background-color: var(--secondary-color);

    justify-content: flex-end;
    position: fixed;
    z-index: 1;

}

.top-nav2{

    display: flex;
    width: calc(100vw - var(--nav-width));
    margin-left: var(--nav-width);
    padding-right: 1rem;
    box-sizing: border-box;

    background-color: var(--secondary-color);
    position:absolute;

    justify-content: flex-end;
    z-index: 1;

}

.horizontal-nav{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: var(--secondary-color-light);
    height: calc(100vh);
    width: var(--nav-width);


    position: fixed;

}

.horizontal-nav.wider{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: var(--secondary-color-light);
    z-index: 1;
    height: calc(100vh);
    width: calc(var(--nav-width) + 1rem);


    position: fixed;

}

.width {

    &-550{

        @media screen and (max-width: 550px) {
            &-hidden{
    
                display: none;
    
            }
        }
    }


}


.bottom-nav{

    background-color: var(--black);
    height: auto;
    width: calc(100vw - var(--nav-width));
    text-align: center;
    display: flex;

    
 
}
 

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.fadeOutUp {
    animation-name: fadeOutUp;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.stretchWidth {
    animation-name: stretchWidth;
    animation-duration: .75s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.widthEaseInOut{
    transition: width 1s ease-in-out;

}

.zIndex10{
    z-index: 10;
}
  
.hidden{

    display: none;

    &-min-width{

        &-550{

            display: none;

        }

        @media screen and (max-width: 550px) {
            &-550{
    
                display: contents;
    
            }
        }
    }

}

@keyframes fade {
    0%  {opacity: 1;}
    10%  {opacity: .9;}
    25% {opacity: .5;}
    75% {opacity: .25;}
    100% {opacity: 0;}
}


@keyframes fadeOutUp {
     0% {
         transform: translateY(0);
     }
     60% {
         transform: translateY(-15px);
     }
     80% {
         opacity: 1;
       transform: translateY(-20px);
    }
    100% {
       opacity: 0;
       transform: translateY(-30px);

       
    }
} 

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    
    }
    60% {
        opacity: .25;
        transform: translateY(-20px);
    }
    80% {
        opacity: .75;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes stretchWidth {
    0% {
        transform: scale(.8, 1);
    
    }
    20% {
        transform: scale(.9, 1);
    }
    40% {
        transform: scale(1.2, 1);
    }
    60% {
        transform: scale(1.1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
   
}
@keyframes stretchHeight {
    0% {
        transform: scale(1, 1.1);
    
    }
    20% {
        transform: scale(1, 1.15);
    }
    40% {
        transform: scale(1, 1.2);
    }
    60% {
        transform: scale(1, 1.15);
    }
    100% {
        transform: scale(1, 1);
    }
   
}