
:root{
    --nav-height: 7vh;
    --nav-width: 4.5vw;

    --white: rgb(240, 250, 250);
    --black: rgb(16, 22, 22);
    

    --primary-color: #48beb3;
    --primary-color-light: rgba(83, 201, 190, 1);
    --primary-color-lighter: rgba(94, 212, 201, .95);
    --primary-color-lightest: rgba(105, 223, 212, .95);
    
    
    // --secondary-color: #32292f;
    --secondary-color-dark: rgba(53, 124, 181, 1);
    --secondary-color: #488fbe;
    --secondary-color-light: rgba(83, 154, 201, 1);
    --secondary-color-lightest:rgba(94, 165, 212, .95);
    
    // --tertiary-color: #403453;
    --tertiary-color: #48be77;
    --tertiary-color-light: rgba(64, 52, 83, .90);
    --secondary-color-lightest:rgba(64, 52, 83, .5);

    box-sizing: border-box;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;

    overflow-x: hidden;


    
}

html{
    height: 100%;
    margin-bottom: 1px;
    overflow-x: hidden;
 }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
    box-sizing: border-box;

    overflow-x: hidden;

    // background-color: var(--primary-color-lightest);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.nav{

    height: var(--nav-height);

    &-container{

        display: flex;
        align-items: center;

        &-bottom{

            display: flex;

            flex-direction: column;

            width: 100%;

            align-items: center;
            justify-content: center;

            color: white;

            & li{

                margin: .5rem;
                color: white;
            }
        }

        &-horizontal{

            display: flex;
            align-items: center;
            flex-direction: column;
    
            a {
        
                color: var(--white);
                text-decoration: none;
                margin: .5rem;
                font-size: 1rem;
            }
            
        }
        
    }

    
}


.nav-link{

    margin: 1rem;

    a {
    
        color: var(--white);
        text-decoration: none;
        font-size: 1.5rem;
    }

    &-horizontal{

        text-align: center;
        margin: .25rem;

        &-icon{

            width: 32px;
            height: 32px;

        }

        @media screen and (max-width: 1000px) {
            &-icon{

                width: 20px;
                height: 20px;
    
            }
        }
        
    }
}


.main-container{

    height: auto;
    background-color: var(--white);

    display: flex;
    flex-direction: column;
}

.top-nav{

    display: flex;
    width: calc(100vw - var(--nav-width));
    margin-left: var(--nav-width);
    padding-right: 1rem;
    box-sizing: border-box;
    // background-color: var(--secondary-color);
    background-color: var(--secondary-color);
    // background-color: var(--black);
    justify-content: end;
    position: fixed;
    z-index: 1;
}

.horizontal-nav{

    display: flex;
    flex-direction: column;
    justify-content: end;
    // background-color: var(--secondary-color);
    // background-color: var(--secondary-color);
    background-color: var(--secondary-color-light);
    // height: calc(100vh - var(--nav-height));
    height: calc(100vh);
    width: var(--nav-width);

    // margin-top: var(--nav-height);


    position: fixed;

}
.horizontal-nav.wider{

    display: flex;
    flex-direction: column;
    justify-content: end;
    // background-color: var(--secondary-color);
    // background-color: var(--secondary-color);
    background-color: var(--secondary-color-light);
    z-index: 1;
    // height: calc(100vh - var(--nav-height));
    height: calc(100vh);
    width: calc(var(--nav-width) + 1rem);

    // margin-top: var(--nav-height);


    position: fixed;

}

.width {

    &-550{

        @media screen and (max-width: 550px) {
            &-hidden{
    
                display: none;
    
            }
        }
    }


}


// @media screen and (max-width: 550px) {
//     .horizontal-nav{

//         display: none;
        
//     }
// }

.bottom-nav{

    background-color: var(--black);

    height: auto;
    // margin-top: .1rem;
    width: calc(100vw - var(--nav-width));

    text-align: center;

    display: flex;

    
 
}

.hidden{

    display: none;

    &-min-width{

        &-550{

            display: none;

            
        }
        @media screen and (max-width: 550px) {
            &-550{
    
                display: contents;
    
            }
        }
    }

}

