
.contactme{

    &-container{

        margin: auto;

        box-sizing: border-box;

        min-height: 75vh;
        width: calc(100vw - var(--nav-width));

        // margin: auto;

        text-align: center;

        color: var(--white);

        // background-color: var(--secondary-color);
        background-color: var( --secondary-color-dark);

        display: flex;
        flex-direction: column;

        // justify-content: center;
        align-items: center;

        border-radius: 4px 4px  0px 0px;

    }



    &-header{
        color: var(--white);

        justify-self: flex-start;

        font-size: 2rem;

        margin-bottom: 2rem;
        margin-top: 2rem;

        &~p{

            font-size: 2rem;
        }
        
      
    }

    @media screen and (max-width: 550px), screen and (max-height: 720px){
            
        
        &-header{
       

            font-size: 1.5rem;

            margin-bottom: var(--nav-width);
            margin-top: 1rem;

          
        }
        
    }

}



.form{

    display: flex;
    flex-direction: column;

    width: 40vw;

    justify-content: center;

}


@media screen and (max-width: 550px), screen and (max-height: 720px){
            
        
    form.form{

        display: flex;
        flex-direction: column;
    
        width: 60vw;
    
        justify-content: center;
    
    }
    
}



