
.white{

    fill: var(--white);
}
.toGrey { 
    // transition: fill 0.3s;
    transition:fill 0.75s ease 0.2s;

    &:hover { 
        color: var(--grey); 
    }
}

.toWhite { 
    // transition: fill 0.3s;
    transition:fill 0.75s ease 0.2s;

    &:hover { 
        fill: var(--white); 
    }
}

.toBlack { 
    // transition: fill 0.3s;
    transition:fill 0.75s ease 0.2s;

    &:hover { 
        fill: var(--black); 
    }
}
.toBlackColor { 
    // transition: fill 0.3s;
    transition:fill 0.75s ease 0.2s;

    &:hover { 
        color: var(--black); 
    }
}

.toPrimary { 
    // transition: fill 0.3s;
    transition:fill 0.75s ease 0.2s;

    &:hover { 
        fill: var(--primary-color); 
    }
}
.toPrimaryColor { 
    // transition: fill 0.3s;
    transition:fill 0.75s ease 0.2s;

    &:hover { 
        color: var(--primary-color); 
    }
}

.toSecondary { 
    // transition: fill 0.3s;
    transition:fill 0.75s ease 0.2s;

    &:hover { 
        fill: var(--secondary-color); 
    }
}
.toSecondaryColor { 
    // transition: fill 0.3s;
    transition:fill 0.75s ease 0.2s;

    &:hover { 
        color: var(--secondary-color); 
    }
}
.toTertiary { 
    // transition: fill 0.3s;
    transition:fill 0.75s ease 0.2s;

    &:hover { 
        fill: var(--tertiary-color); 
    }
}

.toTertiaryColor { 
    // transition: fill 0.3s;
    transition:fill 0.75s ease 0.2s;

    &:hover { 
        color: var(--tertiary-color); 
    }
}

.svg{

    width: 32px;
    height: 32px;

    margin: 0.5rem 0rem 0.5rem 0;

    &-medium{

        width: 26px;
        height: 26px;
    }
}

.round{

    border-radius: 100%;

}

.cta{

    padding: 1rem;
}

@media screen and (max-width: 1000px) and (min-width: 501px) {
    .svg{

        width: 20px;
        height: 20px;
    
        margin: 0.25rem 0rem 0.25rem 0rem;

    }
}

@media screen and (max-width: 500px) {
    .svg{

        width: 15px;
        height: 15px;
    
        margin: 0.25rem 0rem 0.25rem 0rem;

    }
}

